html {
  font-family: -apple-system, Helvetica, arial, sans-serif;
  color: rgba(255, 255, 255, 0.9); /* Light gray fonts */
  line-height: 1.5em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #121212; /* Dark gray background */
}
body {
  margin: 0;
  background-color: #121212; /* Dark gray background */
}
body .content {
  margin-bottom: 120px;
}
a {
  color: rgba(255, 255, 255, 0.8); /* Light gray fonts */
}
a:hover {
  text-decoration: none;
  color: #ccc; /* Lighter gray on hover */
}
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.wrap {
  max-width: 700px;
  margin: 0 auto;
}
.mono {
  font-family: monospace;
}
.nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
.nav a {
  color: rgba(255, 255, 255, 0.6); /* Light gray fonts for navigation links */
  text-decoration: none;
  border-bottom: none;
  font-size: 12px;
}
.nav a:hover {
  font-weight: bold;
}
.nav ul {
  list-style-type: none;
  padding: 0;
}
.nav ul li {
  display: inline;
  margin-right: 10px;
}
.front-matter {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.front-matter h4 {
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter .bylines .byline {
  margin-right: 20px;
  float: left;
}
.front-matter .bylines .byline h3, .front-matter .bylines .byline p {
  margin: 0;
  font-family: -apple-system, Helvetica, arial, sans-serif;
}
.front-matter .bylines .byline h3 {
  font-size: 9px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.front-matter .bylines .byline p {
  font-size: 10px;
  line-height: 1.6em;
}
.article {
  font-size: 15px;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.8); /* Light gray fonts */
  margin-top: 50px;
  margin-bottom: 50px;
}
.article blockquote {
  margin: 0;
  padding: 0 1em;
  color: #aaa; /* Lighter gray for blockquotes */
  border-left: 0.25em solid #444; /* Darker line for blockquotes */
}
.article h2 {
  font-size: 26px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;
  padding-top: 1em;
}
.article .figure {
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: 20px 0;
}
.article .figure .caption {
  padding-top: 15px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2em;
}
.article .figure .caption-label {
  font-weight: bold;
}
.article .footnote {
  line-height: 0;
}
.article div.highlight {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 13px;
  line-height:
