---
title: blog
---

<html>
<head>
    <title>rhizomeworks</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='rhizome works'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computational statistics,
        linear algebra,
        numerical linear algebra,
        statistical software,
        deep learning,
        computer science,
        blogging,
        writing,
        probability,
        quantitative modeling,
    '>
    <meta name='author' content='rhizome works'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div id='title'>
            <p> Rhizome Works</p>
        </div>
        <div id='subtitle'>
            <p> Applied Machine Intelligence</p>
            <p><a href="mailto:info@rhizomeworks.com">info@rhizomeworks.com</a> </p>
        </div>
    </div>
</body>
</html>
