<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rhizome Works</title>
    <meta name="description" content="applied machine learning">
    <meta name="keywords" content="machine learning, statistical machine learning, bayesian inference, statistics, computational statistics, linear algebra, numerical linear algebra, statistical software, deep learning, computer science, blogging, writing, probability, quantitative modeling">
    <meta name="author" content="Rhizome Works">
    <link rel="shortcut icon" href="/favicon.png?v=e">
    <link rel="stylesheet" href="/css/blog.css">
    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <header class="wrap">
        <h1>Rhizome Works</h1>
        <h2>Applied Machine Intelligence</h2>
        <h3><a href="mailto:info@rhizomeworks.com">info@rhizomeworks.com</a></h3>
    </header>
</body>
</html>
